<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":3,"row":3,"size_x":1,"size_y":1},{"col":1,"row":4,"size_x":1,"size_y":1},{"col":2,"row":4,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1}]')
 });
 </script>
<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <!--li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li-->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifNas_temp" data-view="Meter" data-title="GrifNas" data-height="200" data-width="100" data-min="0" data-max="100" data-warning="60" data-critical="70" data-suffix="°"></div>
    </li>     
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifDev_temp" data-view="Meter" data-title="GrifDev" data-height="200" data-width="200" data-min="0" data-max="100" data-warning="60" data-critical="70" data-suffix="°"></div>
    </li>     
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifInfra_temp" data-view="Meter" data-title="GrifInfra" data-height="200" data-width="200" data-min="0" data-max="100"  data-warning="60" data-critical="70" data-suffix="°"></div>
    </li>    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifMediaMgr_temp" data-view="Meter" data-title="GrifMgr" data-height="200" data-width="200" data-min="0" data-max="100"  data-warning="60" data-critical="70" data-suffix="°"></div>
    </li>    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifGateway_temp" data-view="Meter" data-title="GrifGateway" data-height="200" data-width="200" data-min="0" data-max="100"  data-warning="60" data-critical="70" data-suffix="°"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifMedia_temp" data-view="Meter" data-title="GrifMedia" data-height="200" data-width="200" data-min="0" data-max="100"  data-warning="60" data-critical="70" data-suffix="°"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifNas_cpu" data-view="Meter" data-title="GrifNas" data-height="200" data-width="100" data-min="0" data-max="100" data-warning="50" data-critical="75" data-suffix="°"></div>
    </li>     
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifDev_cpu" data-view="Meter" data-title="GrifDev" data-height="200" data-width="200" data-min="0" data-max="100" data-warning="50" data-critical="75" data-suffix="°"></div>
    </li>     
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifInfra_cpu" data-view="Meter" data-title="GrifInfra" data-height="200" data-width="200" data-min="0" data-max="100"  data-warning="50" data-critical="75" data-suffix="°"></div>
    </li>    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifMediaMgr_cpu" data-view="Meter" data-title="GrifMgr" data-height="200" data-width="200" data-min="0" data-max="100"  data-warning="50" data-critical="75" data-suffix="°"></div>
    </li>    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifGateway_cpu" data-view="Meter" data-title="GrifGateway" data-height="200" data-width="200" data-min="0" data-max="100"  data-warning="50" data-critical="75" data-suffix="°"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GrifMedia_cpu" data-view="Meter" data-title="GrifMedia" data-height="200" data-width="200" data-min="0" data-max="100"  data-warning="50" data-critical="75" data-suffix="°"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="external_ips" data-view="List" data-align="center" data-unordered="true" data-title="Public IPs" data-moreinfo="External IP addresses"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
